<div class="container">
  <h1>Password Validation</h1>
  <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" name="password" [ngModel]="user.password" required
        validateEqual="confirmPassword" reverse="true" #password="ngModel">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
    </div>
    <div class="form-group">
      <label for="">Confirm password</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" required
        validateEqual="password" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="margin-20" *ngIf="f">
      <div>Form details:-</div>
      <p>submitted value: <br>{{f.value | json}}<br>isValid : {{f.valid}}</p>
    </div>
  </form>
</div>
